In [6]:
#importing sqlalchemy and creating engine and session for SQL DB
!pip install sqlalchemy
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy.orm import Session,sessionmaker
engine=create_engine ('sqlite:///Northwind_small.sqlite', echo=True)
Session=sessionmaker(bind=engine)
session=Session()

Requirement already satisfied: sqlalchemy in c:\users\perso\anaconda3\envs\learn-env\lib\site-packages (1.3.3)

smart-open 1.8.0 requires bz2file, which is not installed.
pexpect 4.6.0 requires ptyprocess>=0.5, which is not installed.
nltk 3.4 requires singledispatch, which is not installed.
You are using pip version 10.0.1, however version 19.1 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [7]:
from sqlalchemy import inspect
inspector = inspect(engine)
inspector.get_table_names()

2019-04-26 18:07:00,029 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-04-26 18:07:00,030 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:07:00,031 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-04-26 18:07:00,032 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:07:00,034 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2019-04-26 18:07:00,035 INFO sqlalchemy.engine.base.Engine ()

['Category',
 'Customer',
 'CustomerCustomerDemo',
 'CustomerDemographic',
 'Employee',
 'EmployeeTerritory',
 'Order',
 'OrderDetail',
 'Product',
 'Region',
 'Shipper',
 'Supplier',
 'Territory']

In [14]:
#converting SQL tables into classes for easy conversion to pandas dataframe

from sqlalchemy import MetaData
from sqlalchemy.ext.automap import automap_base
metadata=MetaData()
metadata.reflect(engine)
Base = automap_base(metadata=metadata)
Base.prepare()
category=Base.classes.Category
customer=Base.classes.Customer
employee=Base.classes.Employee
employeeterritory=Base.classes.EmployeeTerritory
order=Base.classes.Order
orderdetail=Base.classes.OrderDetail
product=Base.classes.Product
region=Base.classes.Region
shipper=Base.classes.Shipper
supplier=Base.classes.Supplier
territory=Base.classes.Territory

2019-04-26 18:26:02,847 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2019-04-26 18:26:02,848 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:02,851 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Category")
2019-04-26 18:26:02,852 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:02,854 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Category' AND type = 'table'
2019-04-26 18:26:02,855 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:02,857 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Category")
2019-04-26 18:26:02,858 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:02,859 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Category' AND type = 'table'
2019-04-26 18:26:02,860 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:02,862 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Category")
2019-04-26 18:26:02,863 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:02,864 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Category")
2019-04-26 18:26:02,866 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:02,867 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Category' AND type = 'table'
2019-04-26 18:26:02,868 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:02,870 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Customer")
2019-04-26 18:26:02,871 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:02,874 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Customer' AND type = 'table'
2019-04-26 18:26:02,876 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:02,878 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Customer")
2019-04-26 18:26:02,879 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:02,881 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Customer' AND type = 'table'
2019-04-26 18:26:02,881 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:02,883 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Customer")
2019-04-26 18:26:02,884 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:02,887 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Customer")
2019-04-26 18:26:02,888 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:02,889 INFO sqlalchemy.engine.base.Engine PRAGMA index_info("sqlite_autoindex_Customer_1")
2019-04-26 18:26:02,890 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:02,892 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Customer' AND type = 'table'
2019-04-26 18:26:02,893 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:02,894 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("CustomerCustomerDemo")
2019-04-26 18:26:02,895 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:02,897 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'CustomerCustomerDemo' AND type = 'table'
2019-04-26 18:26:02,898 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:02,899 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("CustomerCustomerDemo")
2019-04-26 18:26:02,900 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:02,902 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'CustomerCustomerDemo' AND type = 'table'
2019-04-26 18:26:02,903 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:02,904 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("CustomerCustomerDemo")
2019-04-26 18:26:02,905 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:02,908 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("CustomerCustomerDemo")
2019-04-26 18:26:02,910 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:02,912 INFO sqlalchemy.engine.base.Engine PRAGMA index_info("sqlite_autoindex_CustomerCustomerDemo_1")
2019-04-26 18:26:02,913 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:02,915 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'CustomerCustomerDemo' AND type = 'table'
2019-04-26 18:26:02,917 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:02,918 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("CustomerDemographic")
2019-04-26 18:26:02,919 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:02,921 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'CustomerDemographic' AND type = 'table'
2019-04-26 18:26:02,922 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:02,924 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("CustomerDemographic")
2019-04-26 18:26:02,925 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:02,926 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'CustomerDemographic' AND type = 'table'
2019-04-26 18:26:02,927 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:02,929 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("CustomerDemographic")
2019-04-26 18:26:02,931 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:02,934 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("CustomerDemographic")
2019-04-26 18:26:02,936 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:02,938 INFO sqlalchemy.engine.base.Engine PRAGMA index_info("sqlite_autoindex_CustomerDemographic_1")
2019-04-26 18:26:02,939 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:02,940 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'CustomerDemographic' AND type = 'table'
2019-04-26 18:26:02,941 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:02,943 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Employee")
2019-04-26 18:26:02,944 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:02,947 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Employee' AND type = 'table'
2019-04-26 18:26:02,948 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:02,951 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Employee")
2019-04-26 18:26:02,953 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:02,955 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Employee' AND type = 'table'
2019-04-26 18:26:02,956 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:02,958 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Employee")
2019-04-26 18:26:02,959 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:02,961 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Employee")
2019-04-26 18:26:02,962 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:02,963 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Employee' AND type = 'table'
2019-04-26 18:26:02,964 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:02,967 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("EmployeeTerritory")
2019-04-26 18:26:02,968 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:02,970 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'EmployeeTerritory' AND type = 'table'
2019-04-26 18:26:02,971 INFO sqlalchemy.engine.base.Engine ()

2019-04-26 18:26:02,972 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("EmployeeTerritory")
2019-04-26 18:26:02,973 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:02,975 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'EmployeeTerritory' AND type = 'table'
2019-04-26 18:26:02,977 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:02,979 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("EmployeeTerritory")
2019-04-26 18:26:02,980 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:02,982 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("EmployeeTerritory")
2019-04-26 18:26:02,982 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:02,984 INFO sqlalchemy.engine.base.Engine PRAGMA index_info("sqlite_autoindex_EmployeeTerritory_1")
2019-04-26 18:26:02,985 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:02,986 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'EmployeeTerritory' AND type = 'table'
2019-04-26 18:26:02,986 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:02,988 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Order")
2019-04-26 18:26:02,988 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:02,992 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Order' AND type = 'table'
2019-04-26 18:26:02,992 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:02,994 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Order")
2019-04-26 18:26:02,994 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:02,995 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Order' AND type = 'table'
2019-04-26 18:26:02,996 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:02,997 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Order")
2019-04-26 18:26:02,998 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:02,999 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Order")
2019-04-26 18:26:03,000 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:03,002 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Order' AND type = 'table'
2019-04-26 18:26:03,003 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:03,005 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("OrderDetail")
2019-04-26 18:26:03,006 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:03,009 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'OrderDetail' AND type = 'table'
2019-04-26 18:26:03,009 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:03,011 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("OrderDetail")
2019-04-26 18:26:03,012 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:03,012 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'OrderDetail' AND type = 'table'
2019-04-26 18:26:03,013 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:03,014 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("OrderDetail")
2019-04-26 18:26:03,015 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:03,017 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("OrderDetail")
2019-04-26 18:26:03,018 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:03,019 INFO sqlalchemy.engine.base.Engine PRAGMA index_info("sqlite_autoindex_OrderDetail_1")
2019-04-26 18:26:03,020 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:03,021 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'OrderDetail' AND type = 'table'
2019-04-26 18:26:03,022 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:03,024 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Product")
2019-04-26 18:26:03,025 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:03,028 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Product' AND type = 'table'
2019-04-26 18:26:03,029 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:03,030 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Product")
2019-04-26 18:26:03,030 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:03,031 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Product' AND type = 'table'
2019-04-26 18:26:03,032 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:03,033 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Product")
2019-04-26 18:26:03,034 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:03,036 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Product")
2019-04-26 18:26:03,037 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:03,039 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Product' AND type = 'table'
2019-04-26 18:26:03,040 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:03,042 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Region")
2019-04-26 18:26:03,043 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:03,044 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Region' AND type = 'table'
2019-04-26 18:26:03,045 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:03,047 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Region")
2019-04-26 18:26:03,047 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:03,048 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Region' AND type = 'table'
2019-04-26 18:26:03,049 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:03,050 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Region")
2019-04-26 18:26:03,051 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:03,052 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Region")
2019-04-26 18:26:03,053 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:03,054 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Region' AND type = 'table'
2019-04-26 18:26:03,055 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:03,056 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Shipper")
2019-04-26 18:26:03,057 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:03,058 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Shipper' AND type = 'table'
2019-04-26 18:26:03,059 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:03,060 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Shipper")
2019-04-26 18:26:03,061 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:03,062 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Shipper' AND type = 'table'
2019-04-26 18:26:03,063 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:03,064 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Shipper")
2019-04-26 18:26:03,064 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:03,066 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Shipper")
2019-04-26 18:26:03,067 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:03,068 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Shipper' AND type = 'table'
2019-04-26 18:26:03,069 INFO sqlalchemy.engine.base.Engine ()

2019-04-26 18:26:03,070 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Supplier")
2019-04-26 18:26:03,071 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:03,074 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Supplier' AND type = 'table'
2019-04-26 18:26:03,075 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:03,077 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Supplier")
2019-04-26 18:26:03,078 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:03,080 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Supplier' AND type = 'table'
2019-04-26 18:26:03,081 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:03,082 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Supplier")
2019-04-26 18:26:03,084 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:03,085 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Supplier")
2019-04-26 18:26:03,086 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:03,087 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Supplier' AND type = 'table'
2019-04-26 18:26:03,088 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:03,089 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Territory")
2019-04-26 18:26:03,090 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:03,092 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Territory' AND type = 'table'
2019-04-26 18:26:03,093 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:03,095 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("Territory")
2019-04-26 18:26:03,096 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:03,097 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Territory' AND type = 'table'
2019-04-26 18:26:03,098 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:03,100 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Territory")
2019-04-26 18:26:03,101 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:03,102 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("Territory")
2019-04-26 18:26:03,103 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:03,104 INFO sqlalchemy.engine.base.Engine PRAGMA index_info("sqlite_autoindex_Territory_1")
2019-04-26 18:26:03,105 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:26:03,107 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'Territory' AND type = 'table'
2019-04-26 18:26:03,108 INFO sqlalchemy.engine.base.Engine ()

In [18]:
import pandas as pd
category_df=pd.read_sql_query('SELECT * FROM [category]', engine)
customer_df=pd.read_sql_query('SELECT * FROM [customer]', engine)
employee_df=pd.read_sql_query('SELECT * FROM [employee]', engine)
employeeterritory_df=pd.read_sql_query('SELECT * FROM [employeeterritory]', engine)
order_df=pd.read_sql_query('SELECT * FROM [order]',engine)
orderdetail_df=pd.read_sql_query('SELECT * FROM [orderdetail]' ,engine)
product_df=pd.read_sql_query('SELECT * FROM [product]', engine)
region_df=pd.read_sql_query('SELECT * FROM [region]', engine)
shipper_df=pd.read_sql_query('SELECT * FROM [shipper]', engine)
supplier_df=pd.read_sql_query('SELECT * FROM [supplier]', engine)
territory_df=pd.read_sql_query('SELECT * FROM [territory]', engine)

2019-04-26 18:34:14,813 INFO sqlalchemy.engine.base.Engine SELECT * FROM [category]
2019-04-26 18:34:14,814 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:34:14,820 INFO sqlalchemy.engine.base.Engine SELECT * FROM [customer]
2019-04-26 18:34:14,821 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:34:14,828 INFO sqlalchemy.engine.base.Engine SELECT * FROM [employee]
2019-04-26 18:34:14,830 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:34:14,837 INFO sqlalchemy.engine.base.Engine SELECT * FROM [employeeterritory]
2019-04-26 18:34:14,839 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:34:14,844 INFO sqlalchemy.engine.base.Engine SELECT * FROM [order]
2019-04-26 18:34:14,846 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:34:14,864 INFO sqlalchemy.engine.base.Engine SELECT * FROM [orderdetail]
2019-04-26 18:34:14,867 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:34:14,886 INFO sqlalchemy.engine.base.Engine SELECT * FROM [product]
2019-04-26 18:34:14,887 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:34:14,895 INFO sqlalchemy.engine.base.Engine SELECT * FROM [region]
2019-04-26 18:34:14,896 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:34:14,902 INFO sqlalchemy.engine.base.Engine SELECT * FROM [shipper]
2019-04-26 18:34:14,903 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:34:14,908 INFO sqlalchemy.engine.base.Engine SELECT * FROM [supplier]
2019-04-26 18:34:14,910 INFO sqlalchemy.engine.base.Engine ()
2019-04-26 18:34:14,917 INFO sqlalchemy.engine.base.Engine SELECT * FROM [territory]
2019-04-26 18:34:14,919 INFO sqlalchemy.engine.base.Engine ()

![alt text](Northwind_ERD.png "Northwind")